<!DOCTYPE html>
<html ⚡ lang="ja">
  <head>
    <title>やまたつ Blog</title>
    <meta name="Description" content="技術のことについていろいろ書いていく" />
    <link rel="canonical" href="https://blog.yamatatsu193.com/" />
    <%- include('_head', {}) %>

    <script
      async
      custom-element="amp-analytics"
      src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"
    ></script>
  </head>

  <body>
    <main id="content" role="main" class="mt4">
      <article class="recipe-article px3">
        <header class="mb4">
          <amp-img
            src="/images/logo.jpg"
            width="40"
            height="40"
            alt="Logo Yamatatsu"
          ></amp-img>
          <h1 class="mb1">
            やまたつ Blog
          </h1>

          <p>
            失敗とかも書いていきたい
          </p>
          <hr />
        </header>

        <ul class="list-reset">
          <% posts.forEach((post) => { %>
          <li class="mb4">
            <a href="./<%= post.filename %>">
              <h2 class="mb1"><%= post.postHeader.title %></h2>
            </a>
            <small><%= post.postHeader.date %></small>
            <p><%= post.postHeader.description %></p>
          </li>
          <% }); %>
        </ul>
        <hr />
      </article>
    </main>

    <%- include('_footer', {}) %> <%- include('_analytics', {}) %>
  </body>
</html>
