<!DOCTYPE html>
<html ⚡>
  <%- include('_head', {}) %>

  <body>
    <main id="content" role="main" class="mt4">
      <article class="recipe-article">
        <%- include('_header', {}) %>
        <section class="px3 mb4">
          <%- post.contents %>
        </section>
      </article>
    </main>

    <%- include('_footer', {}) %> <%- include('_analytics', {}) %>
  </body>
</html>
