<%
const title = `やまたつBlog|${post.postHeader.title}`
const description = post.postHeader.description
const url = `https://blog.yamatatsu193.com/${post.filename}`
%>
<!DOCTYPE html>
<html ⚡ lang="ja">
  <head>
    <title><%= title %></title>
    <meta name="Description" content="<%= description %>" />
    <link rel="canonical" href="<%= url %>" />
    <%- include('_head', {}) %>
    <%- include('_ogp', { url, title, description, image: '/images/logo.jpg' }) %>

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  </head>

  <body>
    <main id="content" role="main" class="mt4">
      <article class="recipe-article px3">
        <header class="mb4">
          <a href="/">
            <amp-img
              src="/images/logo.jpg"
              width="40"
              height="40"
              alt="Logo Yamatatsu"
            ></amp-img>
          </a>
          <h1 class="mb1"><%= post.postHeader.title %></h1>
          <small><%= post.postHeader.date %></small>
          <hr />
        </header>

        <section class="mb4">
          <%- post.contents %>
        </section>
        <hr />
      </article>
    </main>

    <%- include('_footer', {}) %> <%- include('_analytics', {}) %>
  </body>
</html>
